
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --bg: #151116;
    --footer: #0d0e11;
    --pink: rgb(121, 76, 225);
    --white: #f0f0f0;
    --dark: #1a1b21;
    --grey: #32343e;
    --text: #bbbbbb;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    color: white;
    text-decoration: none;
    cursor: url(https://r2.guns.lol/0a4e181b-fd9d-4d09-a076-165a2a6c3a22.cur) 16 16, auto !important;
  }

  ::-webkit-scrollbar{
    display: none;
  }
  
  body,
  html {
    background-color: var(--bg);
    background-image: url(images/backround.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; 
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  
  a, ul, li, h1 {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
  }
  a:visited{
    text-decoration: none;
    color: white;
  }
  i{
    font-size: large;
    margin-right: 10px;
  }
  
  * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
  
  #hlavni-text{
    background-image: url(images/giphy.gif);
  }
  /* NAVBAR START*/
  
  nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 16%);
    padding: 0 8%;
    z-index: 99;
    height: 3.5rem;
    background-color: rgba(13, 14, 17, 0.9);
  }
  
  .nav path {
    fill: var(--white);
  }
  
  .nav g {
    stroke: var(--white);
  }
  
  .selected path {
    fill: var(--pink)
  }
  
  .selected g {
    stroke: var(--pink)
  }
  
  .logo {
    display: flex;
    align-items: center;
    width: 6.5rem;
  }
  
  .logo img   {
    height: 1.5rem;
  }
  
  
  
  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    margin: 0 1rem;
    cursor: pointer;
  }
  
  .nav-link h1 {
    color: var(--white);
      font-family: "Fira Sans", sans-serif;
    font-size: 1rem;
  }
  
  .selected h1 {
    color: #784be0;;
  }
  
  
  .nav-link svg{
    margin-right: .5rem;
  }
  
  
  .contacts {
    width: 6.5rem;
  }
  
  .contacts a:not(:first-child) {
    margin-left: 1rem;
  }
  
  .contact path{
    fill: var(--white);
  }
  .contact g {
    stroke: var(--white);
  }
  
  
  .nav-links-mobile {
    display: none;
  }
  
  .mobile-btn {
    display: none;
    padding: 0 2rem;
    z-index: 99;
  }
  
  .mobile-active .bar:nth-child(1){
    transform: rotate(-45deg) translate(-3px, 4px);
  
  }
  
  .mobile-active .bar:nth-child(2){
    display: none;
  }
  .mobile-active .bar:nth-child(3){
    transform: rotate(45deg) translate(-3px, -4px);
  }
  
  .nav-links-mobile {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    top: 3.5rem;
    left: 0;
    background-color: rgba(13, 14, 17, 1);
    height: 0;
    width: 100%;
    overflow: hidden;
    transition: height ease-in-out 150ms;
  }
  
  .nav-link-mobile {
      font-family: "Fira Sans", sans-serif;
    color: var(--white);
    cursor: pointer;
    width: 100%;
    display: flex;
    padding: 1rem 0;
    flex-direction: row;
    justify-content: center;
    border-top: var(--dark) thin solid;
    align-items: center;
  }
  
  .nav-link-mobile svg{
    margin-right: .5rem;
  }
  
  .mobile-active + .nav-links-mobile {
    height: 20rem;
  }
  
  .bar {
    width: 2rem;
    margin: 8px 0;
    height: 2px;
    background-color: var(--white);
  }
  
  
  @media screen and (max-width: 1000px ){
  
    .nav-links {
        display: none;
    }
    .mobile-btn {
        display: block;
    }
  }
  
  
  /* NAVBAR END*/


  /* PRODUKT START*/
   .produkt{
    border-radius: 5.5px;
    border: 1px solid rgb(255, 255, 255);
    padding: 5px;
    width: 600px;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 900;
    background-color: var(--bg);
    box-shadow: 0 0 10px rgb(255, 255, 255);
    display: grid;
   }

   .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: var(--bg);
    padding: 10px;
    width: auto;
  }
  
  .grid-container > div {
    border-radius: 5.5px;
    border: 1px solid rgb(255, 255, 255);
    padding: 5px;
    width: 600px;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 900;
    background-color: var(--bg);
    box-shadow: 0 0 10px rgb(255, 255, 255);
    display: grid;
  }

  /* PRODUKT END*/

  
  
  /* HERO START*/
  
  .hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50rem;
    border-bottom: rgba(31, 28, 28, 0.822) 5px solid;
  }
  
  .hero-img   {
    max-width: 33rem;
    min-width: 33rem;
    
    display: grid;
    grid-template-columns: 1fr;
  }
  
  
  .left {
    
    background-image: url(images/dome.webp);
  
  }
  
  .right {
    background-image: url(images/tarkov.webp);
  }
  
  .right img  {
    margin-left: auto;
  }
  
  .left img  {
    margin-right: auto;
  }
  
  
  
  
  .man {
    margin-top: auto;
    z-index: 2;
    height: 90%;
    transition: height ease-in-out 300ms;
  }
  
  
  .man:hover {
    height: 95%;
  }
  
  
  .hero-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 55%;
    width: 100%;
    margin: auto;
      font-family: "Fira Sans", sans-serif;
    font-size: 5rem;
  }
  
  .title-blue {
    text-align: center;
    color: var(--pink);
    animation: glow-animation 1.5s ease-in-out infinite alternate;
  }
  
  @keyframes glow-animation {
  0% {
    text-shadow: 0 0 10px rgba(45, 91, 217, 0.2);
  }
  100% {
    text-shadow: 0 0 20px rgba(45, 91, 217, 0.6);
  }
  }
  
  .title-white {
    text-align: center;
    color: var(--white);
  }
  
  .title-info {
    color: var(--text);
    font-size: 25px;
    margin: 1rem auto;
    text-align: center;
      font-family: "Fira Sans", sans-serif;
  }
  
  .title-blue img {
    width: 30rem;
  
  
  }
  
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .buttons button {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 1rem 2rem;
      font-family: "Fira Sans", sans-serif;
    color: var(--white);
    border-radius: .5rem;
    margin: 0 1rem;
    font-size: 10px;
    cursor: pointer;
  }
  
  .buttons button svg {
    margin-right: .5rem;
  }
  
  .store {
    border: none;
    background-color: rgb(120, 75, 224);
    box-shadow: 0 0 10px rgb(120, 75, 224);
    margin: 5px;
  }
  
  #status {
    border: thin solid rgb(120, 75, 224);
    background-color: var(--dark);
  }
  
  
  @media screen and (min-width: 3000px ){
  .hero-img   {
    display: none;
  }
  
  
  }
  
  @media screen and (max-width: 1700px){
    .hero-img   {
        max-width: 30vw;
        min-width: 30vw;
    }
  
    .man {
        height: 40vw;
    }
    
    .man:hover {
        height: 42vw;
    }
  
  }
  
  @media screen and (max-width: 1500px ){
    .hero-img   {
        display: none;
    }
  
  }
  
  
  @media screen and (max-width: 700px ){
  
    .title-blue img {
      width: 20rem;
    
    
    }
  
    .hero-info {
        height: 50%;
        font-size: 3.5rem;
    }
  
    .title-info {
        width: 90%;
        font-size: 20px;
    }
    
  
  }
  
  @media screen and (max-width: 500px ){
    .hero-info {
        font-size: 2.7rem;
    }
    
  
  }
  
  
  /* HERO END*/
  
  /* GAMES START*/
  
  .games {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 1rem auto;
  }
  
  .game {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    cursor: pointer;
    background-color: var(--dark);
    border: 3px solid #784be0;
    height: 100px;
    width: 100px;
    border-radius: 1rem;
    margin: 1rem 2rem 1rem 2rem;
  }
  
  .private {
  top: 0;
  right: 0;
  border: 3px solid #784be0;
  color: white;
    font-family: "Fira Sans", sans-serif;
  padding: 2px 8px;
  font-size: 14px;
  border-top-right-radius: .7rem;
  border-bottom-left-radius: .7rem;
  position: absolute;
  }
  
  @media screen and (max-width: 800px ){
    .game {
        margin: 1rem 1rem 1rem 1rem;
    }
  
  }
  
  
  
  /* GAMES END*/
  /* ACCORD*/
  /* Core styles/functionality */
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.35s;
}
.tab input:checked ~ .tab__content {
  max-height: 10rem;
}

/* Visual styles */
.accordion {
  color: var(--theme);
  border: 2px solid #784be0;
  border-radius: 0.5rem;
  overflow: hidden;
  width: 45%;
  margin-left: 28%;
}
.tab__label,
.tab__close {
  display: flex;
  color: white;
  background: var(--theme);
  cursor: pointer;
}
.tab__label {
  justify-content: space-between;
  padding: 1rem;
}
.tab__label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transform: rotate(90deg);
  transition: all 0.35s;
}
.tab input:checked + .tab__label::after {
  transform: rotate(270deg);
}
.tab__content p {
  margin: 0;
  padding: 1rem;
}
.tab__close {
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}
.accordion--radio {
  --theme: var(--secondary);
}

/* Arrow animation */
.tab input:not(:checked) + .tab__label:hover::after {
  animation: bounce .5s infinite;
}
@keyframes bounce {
  25% {
    transform: rotate(90deg) translate(.25rem);
  }
  75% {
    transform: rotate(90deg) translate(-.25rem);
  }
}
/* ACCORD END*/



/* STORE START */


.filters {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 3rem;
  flex-wrap: wrap;
}

.filters button {
  padding: .7rem 1rem;
  color: var(--white);
  background-color: var(--dark);
  margin: .5rem;
  border-radius: .7rem;
  border: thin solid var(--grey);
}

.filter-selected {
  background-color: var(--pink) !important;
}

.store {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
}

.store header {
  font-family: Bold;
  margin: 10rem auto 8rem auto;
  color: var(--white);
  font-size: 2.5rem;
}

.games {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100rem;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  height: fit-content;
  border-radius: 1rem;
  margin: 1rem 1rem;
}

.game-img {
  overflow: hidden;
  width: calc(100% - 2px);
  border-top: #44162A thin solid;
  border-right: #44162A thin solid;
  border-left: #44162A thin solid;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  aspect-ratio: 16/9;
}

.game-img img{
  width: 100%;
  -webkit-mask: linear-gradient(180deg,white 15%,white 70%, transparent);
  mask: linear-gradient(180deg, white 15%, white 70%, transparent);
}

.game-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 1rem;
  min-width: 100%;
  min-height: 9.5rem;
  border-top: #44162A thin solid;
  transform: translateY(-1.3rem);
  background-color: rgba(26, 27, 33, 0.7);
  backdrop-filter: blur(3px);
  color: var(--white);
}

.game-info {
  text-align: center;
  width: 90%;
  margin: 1rem auto 0 auto;
}

.game-info h1 {
  color: var(--white);
  font-size: 16px;
  font-weight: 800;
}

.game-info p {
  color: var(--text);
  font-size: 14px;
  font-weight: 800;
}

.game-info span {
  color: rgb(143, 41, 85);
}

.game-view {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 1rem;
  margin-top: auto;
  width: 90%;
  height: 5rem;
}

.pricing p {
  color: var(--text);
  font-weight: 800;
  font-size: 12px;
  margin: 0 0 5px 0;
}

.pricing h1 {
  font-weight: 800;
  font-size: 24px;
  color: var(--white);
}

.view {
  padding: 1rem 1.5rem;
    font-weight: 800;
  color: var(--white);
  border-radius: 1rem;
  cursor: pointer;
  background-color: var(--dark);
  transition: background-color ease-in-out 150ms, border ease-in-out 150ms;
  border: var(--grey) thin solid;
}


.view:hover {
  border: var(--pink) thin solid;
  background-color: var(--pink);
}



/* STORE END */


  
  /* SCROLL START */
  
  
  .scroller {
    margin: 10rem auto auto auto;
    max-width: 250rem;
  }
  
  
  .scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  }
  
  .scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s)
      var(--_animation-direction, forwards) linear infinite;
  }
  
  .scroller[data-direction="right"] {
    --_animation-direction: forwards;
  }
  
  .scroller{
    --_animation-duration: 60s;
  }
  
  .scroller__inner img  {
    height: 15rem;
    border-radius: 1rem;
    border: thin solid var(--grey);
    aspect-ratio: 16/9;
  }
  
  @media screen and (max-width: 1200px ){
    .scroller__inner img  {
        height: 15rem;
      }
  } 
  
  @media screen and (max-width: 700px ){
    .scroller__inner img  {
        height: 10rem;
      }
  }   
  
  
  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
  
  /* SCROLL END */
  
  
  /* CHOOSE US CARDS START */
  
  .choose-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 14rem;
  }
  
  .choose-cards header {
      font-family: "Fira Sans", sans-serif;
    color: white;
    font-size: 2.5rem;
  }
  
  #cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;  
    max-width: 75rem;
    margin-top: 5rem;
    width: calc(100% - 20px);
  }
  
  #cards:hover > .card::after {
    opacity: 1;
  }
  
  .card {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    height: 20rem;
    flex-direction: column;
    position: relative;
    width: 22rem;
  }
  
  .card:hover::before {
    opacity: 1;
  }
  
  .card::before,
  .card::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
  }
  
  .card::before {
    background: radial-gradient(
      800px circle at var(--mouse-x) var(--mouse-y), 
      rgba(255, 255, 255, 0.06),
      transparent 40%
    );
    z-index: 3;
  }
  
  .card::after {  
    background: radial-gradient(
      600px circle at var(--mouse-x) var(--mouse-y), 
      rgba(45, 91, 217, 0.8),
      transparent 40%
    );
    z-index: 1;
  }
  
  .card > .card-content {
    background-color: var(--dark);
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    inset: 1px;
    padding: 10px;
    position: absolute;
    z-index: 2;
  }
  
  .card-info {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .card-image svg path{
    fill: var(--grey);
  }
  
  
  
  .card-info-title {
    width: 80%;
    text-align: center;
    color: white;
      font-family: "Fira Sans", sans-serif;
  
  }
  
  
  /* CHOOSE US CARDS END */
  
  
  /* INFO START */
  
  .cheats-info {
    margin-top: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 65rem;
    width: 90%;
    margin: 5rem 0;
  }
  
  .info-text {
    margin: 0 1rem;
    max-width: 27rem;
  }
  
  .text-right {
    text-align: right;
  }
  
  .text-left {
    text-align: left;
  }
  
  .info-text h1 {
      font-family: "Fira Sans", sans-serif;
    font-size: 2rem;
    color: var(--white);
  }
  
  .info-text p {
      font-family: "Fira Sans", sans-serif;
    color: var(--text);
  }
  
  .info-features {
    display: flex;
    width: 90%;
    justify-content: center;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .info-features div {
    display: flex;
    align-items: center;
    font-size: 20px;
      font-family: "Fira Sans", sans-serif;
    margin: 1rem .5rem;
    color: var(--text);
  }
  
  .info-media {
    border-radius: 1rem;
    border: thin solid var(--pink);
    width: 50%;
    min-width: 23rem;
    max-width: 35rem;
    overflow: hidden;
    aspect-ratio: 16/9;
    max-height: 20rem;
    background-color: var(--dark);
  }
  
  .info-media img   {
    width: 100%;
    object-fit: cover;
  }
  
  .info-media iframe   {
    max-height: 100%;
  
  }
  
  
  @media screen and (max-width: 1050px ){
    .info {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .info-media {
      margin: 1rem ;
    }
  
    .info-features {
      width: 100%;
    }
  
    .info-text {
      margin: 1rem 1rem;
      text-align: center;
    }
  } 
  
    
  /* INFO END */
  
  
  
  /* FAQ START */
  
  .faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 12rem auto 10rem auto;
  align-items: center;
  width: 100%;
  }
  
  .faq-block {
  display: flex;
  flex-direction: column;
  width: 90%;
  cursor: pointer;
  max-width: 60rem;
  overflow: hidden;
  margin: 1.5rem 0;
  height: 3rem;
  border-bottom: var(--pink) thin solid;
  transition: height ease-in-out 200ms;
  
  }
  
  .faq-block svg {
  transition: rotate ease-in-out 200ms;
  rotate: 0deg;
  }
  
  .faq-active svg{
  transition: rotate ease-in-out 200ms;
  rotate: 180deg;
  }
  
  .question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  }
  
  .question p {
    font-family: "Fira Sans", sans-serif;
  color: var(--white);
  font-size: 20px;
  margin: 0;
  }
  
  .answer {
  color: var(--text);
  margin: 0;
    font-family: "Fira Sans", sans-serif;
  }
  
  .answer a {
  color: var(--pink);
  }
  
  @media screen and (max-width: 700px ){
  .question p {
    font-size: 15px;
  }
  .answer {
    font-size: 13px;
  }
  
  } 
  
  /* FAQ END */
  
  /* FOOTER START*/
  
  footer {
    position: relative;
    background-color: var(--footer);
    bottom: 0;
    margin-top: 10rem;
    width: calc(100% - 20rem);
    padding: 4rem 10rem;
  }
  
  .footer-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    max-width: 150rem;
  }
  
  .footer-info {
    width: 25rem;
    margin-right: 3rem;
  }
  
  .footer-logo {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  
  .footer-logo img   {
    height: 35px;
  }
  
  .footer-logo h1 {
    color: var(--white);
    font-size: 18px;
    margin: 0 0 0 15px;
      font-family: "Fira Sans", sans-serif;
  }
  
  .footer-info p{
    color: var(--text);
      font-family: "Fira Sans", sans-serif;
  }
  
  .footer-navigation {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: row;
    margin-left: auto;
    width: 40rem;
  }
  
  .footer-navigation ul {
    margin: 6px 1rem 0 1rem;
    list-style-type: none;
  }
  
  
  .list-title {
    margin-bottom: 15px;
      font-family: "Fira Sans", sans-serif;
    color: var(--white);
  }
  
  .footer-navigation ul li a {
    color: var(--text);
  }
  
  .footer-navigation ul li:not(.list-title) {
    color: var(--text);
    margin: 7px 0;
      font-family: "Fira Sans", sans-serif;
  }
  
  .footer-bottom {
  height: 1rem;
    font-family: "Fira Sans", sans-serif;
  color: var(--text);
  width: 15rem;
  text-align: end;
  margin-left: auto;
  margin-top: 3rem;
  }
  
  .footer-bottom a {
  color: var(--white);
  }
  
  @media only screen and (max-width: 1000px) {
  footer {
    width: calc(100% - 20rem);
    padding: 4rem 10rem;
  }
  
    .footer-info {
        margin: auto;
        margin-bottom: 2rem;
    }
    .footer-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
  
    }
    .footer-navigation {
        margin: 0;
        width: 100%;
    }
  }
  
  
  @media only screen and (max-width: 700px) {
  footer {
    width: calc(100% - 10rem);
    padding: 4rem 5rem;
  }
  
  .footer-container {
    width: 100%;
  }
  
  .footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%;
  }
  
    .footer-navigation {
        align-items: center;
        flex-direction: column;
    }
    .footer-navigation ul {
      margin: 1rem 0;
      text-align: center;
      padding: 0;
  
      list-style-type: none;
  }
  
  .footer-bottom {
    text-align: center;
    margin: auto;
    margin-top: 3rem;
  }
  
  }
  
  
  /* FOOTER END*/