body {
    margin: 0;
    background-color: rgb(4,4,8);
    overflow: hidden;
    user-select: none;
    cursor: none;
    cursor: url('../images/cursor.png'), auto;
    font-family: 'Courier New', monospace;
}

#pressToEnter {
    font-family: 'Courier New', monospace;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #fff;
    font-size: 15px;
    z-index: 1;
    opacity: 1;
    transition: opacity 1s ease;
}
/*z-ined je proste neco jak mas na jake pozici je to displaynute v poradi learn here i guess https://www.w3schools.com/cssref/pr_pos_z-index.php */
video{
    z-index: -3;
}
/*why 120% because when its 100% only the particles doesnt go all the way down idk why keep it like this  */
#particles-js{
    z-index: -3;
    width: 120%;
    height: 120%;
}

#bgvid{
    width: 100%;
    height: 100%;
}

.bar{
    position: fixed;
    top: 45%;
    left: 34%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
}
#link1{
    color: #8bfff5;
    text-decoration: none;
    text-align: center;
}

#button {
    /*Suba tought me this fr asi jedine co jsem uzil*/
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    border-radius: 0.8rem;
    height: 16px;
    width: 128px;
    color: white;
    font-family: 'Courier New', monospace;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border: 1.3px solid #8bfff5;
    border-radius: 0.8rem;
}

#button2 {
    /*Suba tought me this fr asi jedine co jsem uzil*/
    position: fixed;
    top: 70%;
    left: 66.6%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    border-radius: 0.8rem;
    height: 16px;
    width: 128px;
    color: white;
    font-family: 'Courier New', monospace;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border: 1.3px solid #ff8bec;
    border-radius: 0.8rem;
}

/*Brain rot css put im lazy to do shit so its here 3 times yk*/

#centeredImage {
    /*Suba tought me this fr asi jedine co jsem uzil*/
    position: fixed;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    pointer-events: none;
    border: 1.3px solid #8bfff5;
    border-radius: 0.8rem;
}

#centeredImage2 {
    /*Suba tought me this fr asi jedine co jsem uzil*/
    position: fixed;
    top: 50%;
    left: 66.6%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    pointer-events: none;
    border: 1.3px solid #ff8bec;
    border-radius: 0.8rem;
}

#centeredImage3 {
    /*Suba tought me this fr asi jedine co jsem uzil*/
    position: fixed;
    top: 43%;
    left: 47%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    pointer-events: none;
    border-radius: 0.8rem;
    height: 128px;
    width: 128px;
    animation: pulse 1.5s infinite;
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
